<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/modal.css">
    <link rel="stylesheet" href="./css/lab7.css">
    <title>Лабораторная работа №7 Vue</title>
</head>
<body>
    <div id="app">
        <header>
            <div class="Logo_company">
                <a href=".">
                    <img src="./css/Iteam/logo.svg" alt="">
                </a>
            </div>
            <nav>
                <a href=".">
                    <span><img src="./css/Iteam/i-user.svg" alt=""></span>
                    <span>Войти</span>
                </a>
                <a href=".">
                    Зарегистрироваться
                </a>
            </nav>
        </header>
        <main>
            <div class="ovrl">
                <div class="modelview">
                    <div class="topElements">
                        <div class="dg">Вход</div>
                        <img src="./css/Iteam/Cl.png" alt="">
                    </div>
                    <div class="mainElemets">
                        <form action="" method="post">
                            <label for="LoginUser">
                                Логин *
                                <div>
                                    <input type="text" id="LoginUser" required>
                                </div>
                            </label>
                            <label for="PasswordUser">
                                Пароль *
                                <div>
                                    <input type="password" id="PasswordUser" required>
                                </div>
                            </label>
                            <button type="submit">Войти</button>
                            <a href="#">Забыли пароль?</a>
                        </form>
                    </div>
                </div>
            </div>
            <h1>Последние публикации</h1>
            <div class="catalogAndList">
                <div class="catalog">
                    <div v-for="dIteam in defIteam" class="iteam">
                        <img v-bind:src="dIteam.image" alt="">
                        <div class="block-text-info">
                            <div class="up">
                                <h3>{{dIteam.title}}</h3>
                                <p>{{dIteam.intro}}</p>
                            </div>
                            <div class="down">
                                <div v-for="dLabls in dIteam.labels" class="iteam-category">{{dLabls}}</div>
                            </div>
                        </div>
                    </div>
                    <button>Загрузить ещё 6</button>
                </div>
                <div class="list">
                    <ul>
                        <h3>Рубрики</h3>
                        <li><a href="." class="selectCategor">Обучение</a></li>
                        <li><a href="." class="selectCategor">Карьера</a></li>
                        <li><a href="." class="selectCategor">Figma</a></li>
                        <li><a href="." class="selectCategor">Консоль</a></li>
                        <li><a href="." class="selectCategor">Git</a></li>
                        <li><a href="." class="selectCategor">Новости</a></li>
                    </ul>
                </div>
            </div>
        </main>
        <footer>
            <ul>
                <li><a href=".">Об авторе</a></li>
                <li><a href=".">Технологии</a></li>
            </ul>
            <div>© Blog, 2022</div>
        </footer>
    </div>
    <script src="./vue.min.js"></script>
    <script src="./js/data.js"></script>
    <script src="./js/mian1.js"></script>
    <script src="./js/lab6.js"></script>
</body>
</html>