<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./main.css">
    <link rel="stylesheet" href="./mainAvtor.css">
    <title>Лабораторная работа №7 BlogAvtor</title>
</head>
<body>
<div id="app">
    <div class="head">
        <a href="."><img src="./Iteam/logo.svg" alt=""></a>
        <div>
            <a href="."><img src="./Iteam/i-user.svg" alt=""><span>Войти</span></a>
            <a href="."><span>Зарегистрироваться</span></a>
        </div>
    </div>

    <div class="main">
        <div class="main-catalog">
            <div v-for="itm in ByAvtors" class="iteam">
                <img v-bind:src="itm.image" alt="">
                <div class="block-text-info">
                    <div class="up">
                        <h3>{{itm.title}}</h3>
                        <p>{{itm.intro}}</p>
                        <h5>Пост создал: <a v-bind:href="itm.Sozdal">{{itm.Sozdal}}</a></h5>
                    </div>
                    <div class="down">
                        <div v-for="label in itm.labels" class="iteam-category">{{label}}</div>
                    </div>
                </div>
            </div>
            <button>Загрузить ещё 6</button>
        </div>
        <div class="main-Avtors">
            <h3 v-html="NmAvtor"></h3>
            <a v-bind:href="LgAvtor" v-html="LgAvtor"></a>
            <div class="sbrb">
            Подписчиков: <span v-html="Podpishchiki"></span><br>
            Подписки: <span v-html="Podpiski"></span></div>
            <div class="Zapis">
                Записи: <span v-html="Zapisi"></span>
            </div>
            <select id="VidorAvtorabySort" v-model="AvtorSort">
                <option value="Standart">Все авторы</option>
                <option v-for="opt in DataAvtorList" v-bind:value="opt.username">{{opt.name}}</option>
            </select>
        </div>
    </div>

    <div class="footer">
        <div class="leftElmentFooter">
            <a href="."><span>Об авторе</span></a>
            <a href="."><span>Технологии</span></a>
        </div>
        <div class="rightElmentFooter">
            <span>© Blog, 2022</span>
        </div>
    </div>
</div>
    <script src="./vue.min.js"></script>
    <script src="./avt.js"></script>
    <script src="./data.js"></script>
    <script src="./mian.js"></script>
</body>
</html>