<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./main.css">
    <title>Лабораторная работа №7 Blog</title>
</head>
<body>
<div id="app">
    <div class="head">
        <a href="."><img src="./Iteam/logo.svg" alt=""></a>
        <div>
            <a href="."><img src="./Iteam/i-user.svg" alt=""><span>Войти</span></a>
            <a href="."><span>Зарегистрироваться</span></a>
        </div>
    </div>

    <div class="main">
        <h1>Последние публикации</h1>
        <div class="main-catalog">
            <div v-for="itm in defIteam" class="iteam">
                <img v-bind:src="itm.image" alt="">
                <div class="block-text-info">
                    <div class="up">
                        <h3>{{itm.title}}</h3>
                        <p>{{itm.intro}}</p>
                    </div>
                    <div class="down">
                        <div v-for="label in itm.labels" class="iteam-category">{{label}}</div>
                    </div>
                </div>
            </div>
            <button>Загрузить ещё 6</button>
        </div>
        <div class="main-categorys">
            <h3>Рубрики</h3>
            <span>Обучение</span>
            <span>Карьера</span>
            <span>Figma</span>
            <span>Консоль</span>
            <span>Git</span>
            <span>Новости</span>
        </div>
    </div>

    <div class="footer">
        <div class="leftElmentFooter">
            <a href="."><span>Об авторе</span></a>
            <a href="."><span>Технологии</span></a>
        </div>
        <div class="rightElmentFooter">
            <span>© Blog, 2022</span>
        </div>
    </div>
</div>
    <script src="./vue.min.js"></script>
    <script src="./axios.min.js"></script>
    <script src="./axios.min.js.map"></script>
    <script src="./mian1.js"></script>
</body>
</html>