@font-face {
    font-family: "Golos Text VF"; 
    src: url("./Golos-Text_VF.ttf") format("truetype");
} 

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background-color: #f3f3f3;
}

span{
    font-family: 'Golos Text VF';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    margin-bottom: 2px;
    border-bottom: 1px solid;
}
span:hover{
    cursor: pointer;
}

h1{
    margin: 0;
    width: 100%;
    font-family: 'Golos Text VF';
    font-style: normal;
    font-weight: 777;
    font-size: 36px;
    line-height: 43px;
    margin-bottom: 20px;
    color: #000000;
}

a{
    text-decoration: none;
}

.main,.footer{
    padding: 0 60px;
}

.head{
    display: flex;
    background-color: #624C91;
    padding: 15px 60px 16px 60px;
    justify-content: space-between;
}

.head div,
.head div>a{
    display: flex;
    align-items: center;
    gap: 28px;
    color: #FFFFFF;
}

.head div>button{
    font-family: 'Golos Text VF';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #553B8B;
    padding: 12px 20px;
    background: #FFFFFF;
    border-radius: 7px;
    border: none;
}

.main{
    margin: 60px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

form{
    width: 100%;
    height: fit-content;
    padding: 40px;
    background: #FFFFFF;
    border-radius: 8px;
    display: flex;
    gap: 20px;
    flex-direction: column;
}

label{
    font-family: 'Golos Text VF';
    font-style: normal;
    width: 100%;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: rgba(17, 34, 68, 0.5);
}
.btnImgFake{
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #624C90;
    border-radius: 7px;
}

.WindowsForImg img{
    width: 260px;
}

.indicator{
    height: 3px;
    width: 0;
    background-color: lawngreen;
    margin-bottom: 1px;
}

label span{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 20px 40px;
    width: fit-content;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #624C90;
    border: none;
}

.ImageIteam{
    display: flex;
    align-items: center;
    gap: 10px;
    width: fit-content;
    height: fit-content;
}

#ImageIteam{
    display: none;
}

form input,
form textarea,
form select{
    margin-top: 4px;
    width: 100%;
    padding: 24px 0px 24px 24px;
    border: 1px solid rgba(17, 34, 68, 0.5);
    border-radius: 5px;

    font-family: 'Golos Text VF';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 150%;
    color: #112244;
}

form textarea{
    min-height: 200px;
    max-width: 100%;
}

form button{
    padding: 20px 40px;
    width: fit-content;
    border: none;
    font-family: 'Golos Text VF';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
    background: #624C90;
    border-radius: 7px;
}

form button:disabled{
    background: #CCCCCC;
}

.fr,.sc,.ls{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
}

.Agreement{
    display: flex;
    flex-direction: row-reverse;
    width: fit-content;
    gap: 8px;

    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #222222;
}

.Conditions{
    display: none;
    margin-top: 4px;
    flex-direction: column;
    padding: 4px 0px 0px 24px;
    gap: 2px;
}

.condition{
    display: flex;
    align-items: center;
    gap: 8px;
    color: rgba(238, 34, 34, 0.9);
}

.footer{
    display: flex;
    justify-content: space-between;
    padding-bottom: 62px;
}

.rightElmentFooter span{
    border: none;
    color: #999999;
}

.leftElmentFooter{
    display: flex;
    gap: 40px;
}

.leftElmentFooter span{
    font-family: 'Golos Text VF';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #366AF3;
}